<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ChekdIn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3099591726839945</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.864646753923-kd2ckl53uvtvms7rbqbpud98515ebnoe</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.864646753923-3c8h6143ui8sfu65qkfjbb9jms3adrim</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>3099591726839945</string>
	<key>FacebookClientToken</key>
	<string>c67fe948be5e4d69053784b8998c5873</string>
	<key>FacebookDisplayName</key>
	<string>Checkdin</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb</string>
		<string>fbapi3099591726839945</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>whatsapp</string>
		<string>whatsapp://</string>
		<string>sms</string>
		<string>LINKEDIN</string>
		<string>INSTAGRAM</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Enable the Camera to Scan the QR Codes for the Purpose of Scanning and Redeeming Coupon Codes, Enhancing Efficiency and Shopping Experiences for Users</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires access to your location to offer you a seamless experience. Find nearby businesses and unlock exclusive discounts by enabling location services. Discover local merchants, their promotions, and conveniently pinpoint their exact locations on the map. Your location data is solely used to enhance your shopping experience, supporting both shoppers and merchants. We prioritize your privacy and security.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires access to your location to offer you a seamless experience. Find nearby businesses and unlock exclusive discounts by enabling location services. Discover local merchants, their promotions, and conveniently pinpoint their exact locations on the map. Your location data is solely used to enhance your shopping experience, supporting both shoppers and merchants. We prioritize your privacy and security.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your location to offer you a seamless experience. Find nearby businesses and unlock exclusive discounts by enabling location services. Discover local merchants, their promotions, and conveniently pinpoint their exact locations on the map. Your location data is solely used to enhance your shopping experience, supporting both shoppers and merchants. We prioritize your privacy and security.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microphone is accessed for the first time</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow photo access to upload a post photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-VariableFont_wght.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
